<!doctype html>
    <html>

        
        
        <head>
            <title>Meeting Seth Lopez</title>
            <meta name="description" content="Title Page">
            <meta name="keywords" content="student">
        </head>
            <body>
                <a href="https://lh3.googleusercontent.com/JBwEti_s-6LqP_rrY-yzv78f6Liw5dBFhCwB1kCBYZzzYgyAHLLu8xvdjtAzuysLW8_vw4C4NSnZkDnv3RDFvxlFczakwjE0RhwT3tXCk6XE9pe_i2KrznCZFYF6MjxSd7Y0mnZu6w=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/JBwEti_s-6LqP_rrY-yzv78f6Liw5dBFhCwB1kCBYZzzYgyAHLLu8xvdjtAzuysLW8_vw4C4NSnZkDnv3RDFvxlFczakwjE0RhwT3tXCk6XE9pe_i2KrznCZFYF6MjxSd7Y0mnZu6w=w600-h315-p-k" /> </a>
                <br><font size="3"><b>Seth Lopez</font>
                <font size="5"><b><br>EDUCATION:</font> 
                <font size="3"><span style = "font-weight:normal">
                    <br>School: University of Nevada Reno, 1664 N Virginia St, Reno, NV 89557  
                    <br>Major: Computer Science & Engineering
                    <br>Minor: Mathematics & Game Design 
                   <br>GPA: 3.534</span></font>
                <font size="5"><b><br>COLLEGE STUDIES & ACADEMIC:</font> 
                <font size="3"><span style = "font-weight:normal">
                    <br>●  Working Towards Bachelor’s Degree in Computer Science 
                    <br>●  Specialized Courses Include: Computer Organization, Digital Design Composition, Data Structures, Linear  Algebra, Calculus III, Mathematics of Computer-Science-Concepts and Implementation, Embedded Systems  Design.  
                    <br>●   College of Engineering Dean’s List</span></font>
                <font size="5"><b><br>PROFICIENCY:</font> 
                <font size="3"><span style = "font-weight:normal">
                    <br>● Knowledgeable in Excel, Power Point, etc.  
                    <br>● Have Programmed in Many Different Softwares
                    <br>● Have Worked in Professional Setting Such as Receptionist  
                    <br>● Entry-level Experience in Code Management</span></font>
                <font size="5"><b><br>PROGRAMMING SKILLS:</font> 
                <font size="3"><span style = "font-weight:normal">
                    <br>●    Python
                    <br><span style="padding-left: 20px; display:block">o  2 Years Experience </span>
                    ●    Java 
                    <br><span style="padding-left: 20px; display:block">o  1 Year Experience </span>
                    ●    Java Script 
                    <br><span style="padding-left: 20px; display:block">o  1 Year Experience </span>
                    ●    C 
                    <br><span style="padding-left: 20px; display:block">o  3 Year Experience </span>
                    ●    C++ 
                    <br><span style="padding-left: 20px; display:block">o  3 Year Experience </span></font>
                    <font size="5"><b><br>COMMUNITY SERVICE:</font> 
                    <font size="3"><span style = "font-weight:normal">
                        <br>● Latin/ Urban Dance  
                        <br><span style="padding-left: 20px; display:block">o Education and Practice in Latin Dance, where students from all backgrounds can
                        <br>  gain an appreciation for Hispanic and Latino culture through dance. 			2021-2022</span> 
                        ● Society of Hispanic Professional Engineers 
                        <br><span style="padding-left: 20px; display:block">o Event Management/ Organization: Shadowing Professionals in the field 		2021</span></span></font>
                    <font size="5"><b><br>EXPERIENCE & ACTIVITIES:</font> 
                    <font size="3"><span style = "font-weight:normal">
                        <br> ● Skill USA- Nevada State Conference 					        2017-2020 
                        <br>● Vex Competition 											    2018-2020 
                        <br>● National Honor Society										2020 
                        <br>● Robotics Club											        2017-2020 
                        <br>● Vex/ Rec Robotics Showcase 									2018 
                        <br>● Tesla Engineering Tour										2018	</span></font>


                     
                     
                    
                    
                    
 
                     
 
                     
                    

            </body>
    </html>
<!--
At bare minimum it should include:
     a head with a title and metadata 
     a style that sets the background color. 
     It should then have a body, 
        where you write your code to create 
            headers, 
            paragraphs, 
            lists, and to 
            render your images on your page. 

//At a bare minimum, you need headers and information I have displayed in the image below.
-->